@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Roboto:wght@300&display=swap');

* {
  padding:0;
  margin:0;
  border:none;
}

body {
  font-family: Archivo, sans-serif;
  font-size: 1rem;
  overflow:hidden;
  width: 60%;
  margin: auto;
  text-align: center;
  max-width: 620px;
  min-width: 520px;
}

h1 {
  font-size: 1.9rem;
  font-family: Roboto, sans-serif;
  background-color: darkslategray;
  color: white;
  text-align: center;
}
h2 {
  font-size: 1.7rem;
  font-family: Roboto, sans-serif;
  background-color:teal;
  color: white;
  text-align: center;
}
h3 {
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  background-color:white;
  color: darkgray;
  text-align: center;
  margin-top: 15px;
}

.page-section {
}

#new-game {
  margin: 20px 0 10px 0;
}

#new-game button {
  color:white;
  text-align: center;
  height: 50px;
  width: 50px;
  background-color:lightsalmon;
  border-radius: 50%;
  font-size: 1.2rem;
  transition: all 0.3s;
}
#new-game button:hover {
  color:lightsalmon;
  text-align: center;
  height: 50px;
  width: 50px;
  background-color:white;
  border-radius: 50%;
  font-size: 1.2rem;
  border: 2px solid lightsalmon;
}
#computer-right{
  padding: 4px;
  width: 33%;
  float: right;
  text-align: center;
  visibility: hidden;
}
#game-right{
  padding: 4px;
  width: 33%;
  float: right;
  text-align: center;
}
#game-left{
  padding: 4px;
  width: 33%;
  float: left;
  text-align: center;
}
#game-center{
  padding: 4px;
  text-align: center;
  width: 33%;
  margin: auto;
}

table {
  width: 100%;
  text-align: center;
}
td, th {
  width: 50%;
  font-size: 0.8rem;
}
td {
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
}

#computer-display {
  margin-top: 0;
  color:black;
  background-color:white;
}
#computer-display h3 {
  color: darkgray;
  background-color:white;
}
#computer-display button {
  color:white;
  text-decoration: none;
  margin: 4px;
  height: 70px;
  width: 70px;
  background-color:darkcyan;
  border-radius: 50%;
  font-size: 2rem;
  transition: all 0.3s;
}


#game-display button {
  color:white;
  text-decoration: none;
  margin: 4px;
  height: 70px;
  width: 70px;
  background-color: salmon;
  border-radius: 50%;
  font-size: 2rem;
  transition: all 0.3s;
}
#game-display button:hover {
  color:salmon;
  text-decoration: none;
  margin: 4px;
  height: 70px;
  width: 70px;
  background-color: white;
  border-radius: 50%;
  font-size: 2rem;
  border: 2px solid salmon;
}
#score-card {
  background-color: slategray;
  border-radius: 20px 20px 0 0;
  color: whitesmoke;
  letter-spacing: 1px;
}
#score-card h3 {
  background-color: darkslategray;
  font-size: 1rem;
  border-radius: 20px 20px 0 0;
  color: whitesmoke;
  margin-top: 0px;
}

@media screen and (max-width:520px) {
  body {
    width:100%;
    min-width:auto;
  }  
}