@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Roboto:wght@300&display=swap');

* {
  padding:0;
  margin:0;
  border:none;
}

body {
  font-family: Archivo, sans-serif;
  overflow:hidden;
  width: 60%;
  margin: auto;
}

h1 {
  font-size: 1.7rem;
  font-family: Roboto, sans-serif;
  background-color: darkslategray;
  color: white;
  text-align: center;
}
h2 {
  font-size: 1.4rem;
  font-family: Roboto, sans-serif;
  background-color:teal;
  color: white;
  text-align: center;
}
h3 {
  font-size: 1.1rem;
  font-family: Roboto, sans-serif;
  background-color: darkcyan;
  color: white;
  text-align: center;
}

.page-section {
  margin: 5px auto;
}

#right-container{
  float: right;
  text-align: right;
}

#game-right{
  padding: 4px;
  width: 33%;
  float: right;
  text-align: center;
}
#game-left{
  padding: 4px;
  width: 33%;
  float: left;
  text-align: center;
}
#game-center{
  padding: 4px;
  text-align: center;
  width: 33%;
  margin: auto;
}

#score-card button {
  height: 76px;
  width: 76px;
  background-color: salmon;
  border-radius: 50%;
  font-size: 2rem;
}
table{
  line-height: 35px;
  text-align: right;
}

#game-display button {
  margin: 4px;
  height: 70px;
  width: 70px;
  background-color: salmon;
  border-radius: 50%;
  font-size: 2rem;
}

@media screen and (max-width:580px) {
  body {
    width:100%;
  }  
}