@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Roboto:wght@300&display=swap');

* {
  padding:0;
  margin:0;
  border:none;
}

body {
  font-family: Archivo, sans-serif;
  font-size: 1rem;
  overflow:hidden;
  width: 60%;
  margin: auto;
  text-align: center;
  max-width: 620px;
  min-width: 520px;
}

h1 {
  font-size: 1.9rem;
  font-family: Roboto, sans-serif;
  background-color: darkslategray;
  color: white;
  text-align: center;
}
h2 {
  font-size: 1.7rem;
  font-family: Roboto, sans-serif;
  background-color:teal;
  color: white;
  text-align: center;
}
h3 {
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  background-color:darkgray;
  color: white;
  text-align: center;
}

.page-section {
  margin: 0 auto 40px;
  background-color:lightgray;
}

#new-game {
  margin: 40px 0 10px 0;
}

#new-game button {
  text-align: center;
  height: 50px;
  width: 50px;
  background-color:lightsalmon;
  border-radius: 50%;
  font-size: 1.2rem;
}

#game-right{
  padding: 4px;
  width: 33%;
  float: right;
  text-align: center;
}
#game-left{
  padding: 4px;
  width: 33%;
  float: left;
  text-align: center;
}
#game-center{
  padding: 4px;
  text-align: center;
  width: 33%;
  margin: auto;
}

#score-card button {
  height: 76px;
  width: 76px;
  background-color: salmon;
  border-radius: 50%;
  font-size: 2rem;
}
table {
  width: 100%;
  text-align: center;
  color: ;
}
td, th {
  width: 50%;
}

#game-display button {
  margin: 4px;
  height: 70px;
  width: 70px;
  background-color: salmon;
  border-radius: 50%;
  font-size: 2rem;
}

@media screen and (max-width:520px) {
  body {
    width:100%;
    min-width:auto;
  }  
}